.banner{
    height: 500px;

}
.Skip_color{
    color: green;
}

.Button{
    color: white;
    background-image: linear-gradient(red,yellow);
    text-decoration: none;
    font-size: 20px;
    border:solid black;
    border-radius: 20px;
    padding: 10px 40px;
}